In [1]:
import pandas as pd

In [2]:
# Passo 1: Ler o arquivo Excel
file_path = '99_nov.xlsx'
df = pd.read_excel(file_path)
len(df)

37227

In [3]:
# Passo 3: Filtrar registros onde a coluna 'Área' é igual a 'Área 110'
df_filtered = df[df['Área'] == 'Área 110']
len(df_filtered)

5420

In [4]:
# Passo 2: Filtrar os registros que possuem "parte autora" igual a 99 ou semelhante
df_filtered = df_filtered[~df_filtered['Parte Autora'].astype(str).str.contains('99', case=False)]
len(df_filtered)

5382

In [5]:

# Passo 3: Excluir registros onde a coluna 'Causa de Fechamento 1' contém 'Encerramento'
df_filtered = df_filtered[df_filtered['Causa de Fechamento 1'] != 'Encerramento']
len(df_filtered)

5044

In [6]:
# Dicionário com todas as siglas de estados brasileiros e seus nomes por extenso
uf_dict = {
    'AC': 'Acre',
    'AL': 'Alagoas',
    'AP': 'Amapá',
    'AM': 'Amazonas',
    'BA': 'Bahia',
    'CE': 'Ceará',
    'DF': 'Distrito Federal',
    'ES': 'Espírito Santo',
    'GO': 'Goiás',
    'MA': 'Maranhão',
    'MT': 'Mato Grosso',
    'MS': 'Mato Grosso do Sul',
    'MG': 'Minas Gerais',
    'PA': 'Pará',
    'PB': 'Paraíba',
    'PR': 'Paraná',
    'PE': 'Pernambuco',
    'PI': 'Piauí',
    'RJ': 'Rio de Janeiro',
    'RN': 'Rio Grande do Norte',
    'RS': 'Rio Grande do Sul',
    'RO': 'Rondônia',
    'RR': 'Roraima',
    'SC': 'Santa Catarina',
    'SP': 'São Paulo',
    'SE': 'Sergipe',
    'TO': 'Tocantins'
}

# Passo 2: Substituir os valores na coluna 'UF' usando o dicionário
df_filtered['UF'] = df_filtered['UF'].replace(uf_dict)

# Mostrar as primeiras linhas do DataFrame para conferir
print(df_filtered[['UF']].head())

                   UF
7      Santa Catarina
10  Rio Grande do Sul
13          São Paulo
20  Rio Grande do Sul
29          São Paulo

In [7]:
df_filtered.head(3)

,Caso,Origem,Área LBCA,Área,Departamento,Data Cadastro,Data Citação,Data Distribuição,Data Encerramento,Processo,...,Objeto,SubObjeto,Objeto02,SubObjeto02,Objeto03,SubObjeto03,Classificação – Passageiros Especiais 99,Pesquisar Publicação,Visualização SI,CADASTRO ACIMA DE 24 MESES
7,2745988,LBCA,0110 - Cível Geral,Área 110,99 TECNOLOGIA LTDA,2021-07-05,2021-07-22 00:00:00,2021-06-30 00:00:00,2024-07-30,5012190-12.2021.8.24.0039,...,LGPD,NaN,NaN,NaN,NaN,NaN,NaN,Sim,Sim,Sim
10,2746316,LBCA,0110 - Cível Geral,Área 110,99 TECNOLOGIA LTDA,2021-07-06,2021-07-02 00:00:00,2021-06-30 00:00:00,2021-10-04,9002643-54.2021.8.21.0008,...,LGPD,NaN,NaN,NaN,NaN,NaN,NaN,Sim,Sim,Sim
13,2746326,LBCA,0110 - Cível Geral,Área 110,99 TECNOLOGIA LTDA,2021-07-06,2021-07-01 00:00:00,2021-06-30 00:00:00,2023-06-19,1015466-64.2021.8.26.0007,...,Discriminação,Por deficiência,NaN,NaN,NaN,NaN,Menor de Idade,Sim,Sim,Sim

In [8]:
# Passo 2: Identificar as colunas que tenham "data" no nome (case-insensitive)
date_columns = [col for col in df_filtered.columns if 'data' in col.lower()]

# Passo 3: Converter essas colunas para o formato datetime
for col in date_columns:
    df_filtered[col] = pd.to_datetime(df_filtered[col], errors='coerce')  # 'coerce' para valores inválidos

# Mostrar as colunas convertidas para conferência
print(f"Colunas convertidas para formato de data: {date_columns}")

Colunas convertidas para formato de data: ['Data Cadastro', 'Data Citação', 'Data Distribuição', 'Data Encerramento', 'Data Bloqueio Motorista', 'Audiência 1 - Data', 'Audiência 2 - Data', 'Período do Último Andamento Fluxo – Data', 'Período do Último Andamento Processual – Data', 'Valor da Condenação Atualizado – Tipo de Data', 'Valor da Condenação Atualizado – Data', 'Cumprimento Voluntário – Data Depósito', 'Depósitos e Garantias – Data Depósito', 'Custas – Data Depósito', 'Bloqueio – Data do Bloqueio', 'Bloqueio – Data do Desbloqueio', 'Valor das Despesas – Data de Depósito', 'Revelia / Deserção / Intempestividade – Data Ocorrência', 'Revelia / Deserção / Intempestividade – Data Ocorrência1', 'Revelia / Deserção / Intempestividade – Data Ocorrência2']

C:\Users\crist\AppData\Local\Temp\ipykernel_14828\3119639878.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_filtered[col] = pd.to_datetime(df_filtered[col], errors='coerce')  # 'coerce' para valores inválidos
C:\Users\crist\AppData\Local\Temp\ipykernel_14828\3119639878.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_filtered[col] = pd.to_datetime(df_filtered[col], errors='coerce')  # 'coerce' para valores inválidos
C:\Users\crist\AppData\Local\Temp\ipykernel_14828\3119639878.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_filtered[col] = pd.to_datetime(df_filtered[col], errors='coerce')  # 'coerce' para valores inválidos

In [9]:
df_filtered.head(3)

,Caso,Origem,Área LBCA,Área,Departamento,Data Cadastro,Data Citação,Data Distribuição,Data Encerramento,Processo,...,Objeto,SubObjeto,Objeto02,SubObjeto02,Objeto03,SubObjeto03,Classificação – Passageiros Especiais 99,Pesquisar Publicação,Visualização SI,CADASTRO ACIMA DE 24 MESES
7,2745988,LBCA,0110 - Cível Geral,Área 110,99 TECNOLOGIA LTDA,2021-07-05,2021-07-22,2021-06-30,2024-07-30,5012190-12.2021.8.24.0039,...,LGPD,NaN,NaN,NaN,NaN,NaN,NaN,Sim,Sim,Sim
10,2746316,LBCA,0110 - Cível Geral,Área 110,99 TECNOLOGIA LTDA,2021-07-06,2021-07-02,2021-06-30,2021-10-04,9002643-54.2021.8.21.0008,...,LGPD,NaN,NaN,NaN,NaN,NaN,NaN,Sim,Sim,Sim
13,2746326,LBCA,0110 - Cível Geral,Área 110,99 TECNOLOGIA LTDA,2021-07-06,2021-07-01,2021-06-30,2023-06-19,1015466-64.2021.8.26.0007,...,Discriminação,Por deficiência,NaN,NaN,NaN,NaN,Menor de Idade,Sim,Sim,Sim

In [10]:
# Passo 4: Salvar o arquivo como CSV (suportado pelo Looker Studio)
output_path = '99_table.csv'
df_filtered.to_csv(output_path, index=False)