In [2]:
import pandas as pd
import matplotlib as plt
import numpy as np
import statsmodels.api as sm
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.stattools import adfuller
from numpy import log
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.stattools import acf
from datetime import datetime, timedelta

In [4]:
#função para tratar campo data
def parser(x):
    return pd.datetime.strptime('190'+x, '%Y-%m')

#Agora vamos importar nosso arquivo 
df = pd.read_excel('../Data_FS_04.24/Dados@tech.xlsx', sheet_name='PIB - nominal (ITEM 5)')
print(df.head(10))

      Data  Unnamed: 1  PIB nominal  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0  1996 T1         NaN       189323         NaN         NaN         NaN
1  1996 T2         NaN       204611         NaN         NaN         NaN
2  1996 T3         NaN       221513         NaN         NaN         NaN
3  1996 T4         NaN       239316         NaN         NaN         NaN
4  1997 T1         NaN       219117         NaN         NaN         NaN
5  1997 T2         NaN       232890         NaN         NaN         NaN
6  1997 T3         NaN       246178         NaN         NaN         NaN
7  1997 T4         NaN       253904         NaN         NaN         NaN
8  1998 T1         NaN       235701         NaN         NaN         NaN
9  1998 T2         NaN       251936         NaN         NaN         NaN

   Unnamed: 6                Produto interno bruto (PIB) nominal
0         NaN      Frequência: Trimestral de 1996 T1 até 2023 T4
1         NaN  Fonte: Instituto Brasileiro de Geografia e Est...
2         NaN                              Unidade: R$ (milhões)
3         NaN  Comentário: Produto Interno Bruto (PIB) em val...
4         NaN                          Atualizado em: 08/03/2024
5         NaN                                                NaN
6         NaN                                                NaN
7         NaN                                                NaN
8         NaN                                                NaN
9         NaN                                                NaN

In [5]:
df.columns

Index(['Data', 'Unnamed: 1', 'PIB nominal', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Produto interno bruto (PIB) nominal'],
      dtype='object')

In [7]:
def transform_variable(variable):
    year = int(variable.split()[0])  # Extract the year from the variable
    quarter = int(variable.split()[1][1])  # Extract the quarter number from the variable

    # Calculate the month based on the quarter
    month = quarter * 3

    # Calculate the last day of the month
    if month == 12:
        last_day = 31
    else:
        next_month = month + 1
        last_day = (datetime(year, next_month, 1) - timedelta(days=1)).day

    # Create the date object
    transformed_date = datetime(year, month, last_day)

    return transformed_date

# Definition of the column
variables = df['Data']
transformed_dates = [transform_variable(variable) for variable in variables]

for variable in variables:
    transformed_date = transform_variable(variable)
    print(f"The day of {variable} is: {transformed_date.strftime('%Y-%m-%d')}")
    
# Create a DataFrame
df = pd.DataFrame({'Variable': variables, 'Transformed_Date': transformed_dates})

# Save the DataFrame to a CSV file
df.to_csv('transformed_data.csv', index=False)

The day of 1996 T1 is: 1996-03-31
The day of 1996 T2 is: 1996-06-30
The day of 1996 T3 is: 1996-09-30
The day of 1996 T4 is: 1996-12-31
The day of 1997 T1 is: 1997-03-31
The day of 1997 T2 is: 1997-06-30
The day of 1997 T3 is: 1997-09-30
The day of 1997 T4 is: 1997-12-31
The day of 1998 T1 is: 1998-03-31
The day of 1998 T2 is: 1998-06-30
The day of 1998 T3 is: 1998-09-30
The day of 1998 T4 is: 1998-12-31
The day of 1999 T1 is: 1999-03-31
The day of 1999 T2 is: 1999-06-30
The day of 1999 T3 is: 1999-09-30
The day of 1999 T4 is: 1999-12-31
The day of 2000 T1 is: 2000-03-31
The day of 2000 T2 is: 2000-06-30
The day of 2000 T3 is: 2000-09-30
The day of 2000 T4 is: 2000-12-31
The day of 2001 T1 is: 2001-03-31
The day of 2001 T2 is: 2001-06-30
The day of 2001 T3 is: 2001-09-30
The day of 2001 T4 is: 2001-12-31
The day of 2002 T1 is: 2002-03-31
The day of 2002 T2 is: 2002-06-30
The day of 2002 T3 is: 2002-09-30
The day of 2002 T4 is: 2002-12-31
The day of 2003 T1 is: 2003-03-31
The day of 2003 T2 is: 2003-06-30
The day of 2003 T3 is: 2003-09-30
The day of 2003 T4 is: 2003-12-31
The day of 2004 T1 is: 2004-03-31
The day of 2004 T2 is: 2004-06-30
The day of 2004 T3 is: 2004-09-30
The day of 2004 T4 is: 2004-12-31
The day of 2005 T1 is: 2005-03-31
The day of 2005 T2 is: 2005-06-30
The day of 2005 T3 is: 2005-09-30
The day of 2005 T4 is: 2005-12-31
The day of 2006 T1 is: 2006-03-31
The day of 2006 T2 is: 2006-06-30
The day of 2006 T3 is: 2006-09-30
The day of 2006 T4 is: 2006-12-31
The day of 2007 T1 is: 2007-03-31
The day of 2007 T2 is: 2007-06-30
The day of 2007 T3 is: 2007-09-30
The day of 2007 T4 is: 2007-12-31
The day of 2008 T1 is: 2008-03-31
The day of 2008 T2 is: 2008-06-30
The day of 2008 T3 is: 2008-09-30
The day of 2008 T4 is: 2008-12-31
The day of 2009 T1 is: 2009-03-31
The day of 2009 T2 is: 2009-06-30
The day of 2009 T3 is: 2009-09-30
The day of 2009 T4 is: 2009-12-31
The day of 2010 T1 is: 2010-03-31
The day of 2010 T2 is: 2010-06-30
The day of 2010 T3 is: 2010-09-30
The day of 2010 T4 is: 2010-12-31
The day of 2011 T1 is: 2011-03-31
The day of 2011 T2 is: 2011-06-30
The day of 2011 T3 is: 2011-09-30
The day of 2011 T4 is: 2011-12-31
The day of 2012 T1 is: 2012-03-31
The day of 2012 T2 is: 2012-06-30
The day of 2012 T3 is: 2012-09-30
The day of 2012 T4 is: 2012-12-31
The day of 2013 T1 is: 2013-03-31
The day of 2013 T2 is: 2013-06-30
The day of 2013 T3 is: 2013-09-30
The day of 2013 T4 is: 2013-12-31
The day of 2014 T1 is: 2014-03-31
The day of 2014 T2 is: 2014-06-30
The day of 2014 T3 is: 2014-09-30
The day of 2014 T4 is: 2014-12-31
The day of 2015 T1 is: 2015-03-31
The day of 2015 T2 is: 2015-06-30
The day of 2015 T3 is: 2015-09-30
The day of 2015 T4 is: 2015-12-31
The day of 2016 T1 is: 2016-03-31
The day of 2016 T2 is: 2016-06-30
The day of 2016 T3 is: 2016-09-30
The day of 2016 T4 is: 2016-12-31
The day of 2017 T1 is: 2017-03-31
The day of 2017 T2 is: 2017-06-30
The day of 2017 T3 is: 2017-09-30
The day of 2017 T4 is: 2017-12-31
The day of 2018 T1 is: 2018-03-31
The day of 2018 T2 is: 2018-06-30
The day of 2018 T3 is: 2018-09-30
The day of 2018 T4 is: 2018-12-31
The day of 2019 T1 is: 2019-03-31
The day of 2019 T2 is: 2019-06-30
The day of 2019 T3 is: 2019-09-30
The day of 2019 T4 is: 2019-12-31
The day of 2020 T1 is: 2020-03-31
The day of 2020 T2 is: 2020-06-30
The day of 2020 T3 is: 2020-09-30
The day of 2020 T4 is: 2020-12-31
The day of 2021 T1 is: 2021-03-31
The day of 2021 T2 is: 2021-06-30
The day of 2021 T3 is: 2021-09-30
The day of 2021 T4 is: 2021-12-31
The day of 2022 T1 is: 2022-03-31
The day of 2022 T2 is: 2022-06-30
The day of 2022 T3 is: 2022-09-30
The day of 2022 T4 is: 2022-12-31
The day of 2023 T1 is: 2023-03-31
The day of 2023 T2 is: 2023-06-30
The day of 2023 T3 is: 2023-09-30
The day of 2023 T4 is: 2023-12-31

In [ ]:
dados.to_excel('data/prod_describe.xlsx', index = False)