In [1]:
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import plotly.express as px
import xlsxwriter
from tabulate import tabulate
import seaborn as sns

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.preprocessing import MinMaxScaler

# Required Libraries
import os

In [2]:

# Load the Excel file
file_path = 'CEPEA.xls'  # Replace with the path to your Excel file
df = pd.read_excel(file_path, header=3)  # header=3 means the 4th line is the header (0-indexed)

# Display the first few rows to check the data
print("Data Loaded:")
print(df.head(10))

Data Loaded:
         Data  Grandes Lagos Valor R$/KG  Morada Nova de Minas Valor R$/KG  \
0  06/08/2021                       6.76                               NaN
1  13/08/2021                       6.80                               NaN
2  20/08/2021                       6.89                               NaN
3  27/08/2021                       7.03                               NaN
4  03/09/2021                       7.16                               NaN

   Norte do Paraná Valor R$/KG  Oeste do Paraná Valor R$/KG  \
0                         7.41                         6.77
1                         7.51                         6.81
2                         7.60                         6.88
3                         7.63                         6.96
4                         7.66                         7.20

   Triâng.Mineiro/Alto Paranaíba Valor R$/KG  \
0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN

   Triângulo Mineiro e Alto Paranaíba Valor R$/KG
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN

In [8]:
# Filter the data for dates in the year 2022
df['Data'] = pd.to_datetime(df['Data'])  # Ensure the 'Date' column is in datetime format
df = df[df['Data'].dt.year == 2022]
filtered_df=df[['Data', 'Grandes Lagos Valor R$/KG']]
# Display the filtered data
print("Filtered Data:")
filtered_df

Filtered Data:

         Data  Grandes Lagos Valor R$/KG
22 2022-07-01                       7.36
23 2022-01-14                       7.36
24 2022-01-21                       7.34
25 2022-01-28                       7.31
26 2022-04-02                       7.28
27 2022-11-02                       7.27
28 2022-02-18                       7.23
29 2022-02-25                       7.23
30 2022-04-03                       7.23
31 2022-11-03                       7.26
32 2022-03-18                       7.34
33 2022-03-25                       7.41
34 2022-01-04                       7.61
35 2022-08-04                       7.73
36 2022-04-14                       7.81
37 2022-04-22                       7.94
38 2022-04-29                       7.96
39 2022-06-05                       7.98
40 2022-05-13                       7.93
41 2022-05-20                       7.88
42 2022-05-27                       7.84
43 2022-03-06                       7.80
44 2022-10-06                       7.75
45 2022-06-17                       7.74
46 2022-06-24                       7.73
47 2022-01-07                       7.70
48 2022-08-07                       7.69
49 2022-07-15                       7.66
50 2022-07-22                       7.64
51 2022-07-29                       7.65
52 2022-05-08                       7.69
53 2022-12-08                       7.72
54 2022-08-19                       7.74
55 2022-08-26                       7.76
56 2022-02-09                       7.79
57 2022-09-09                       7.82
58 2022-09-16                       7.83
59 2022-09-23                       7.87
60 2022-09-30                       7.95
61 2022-07-10                       8.00
62 2022-10-14                       8.05
63 2022-10-21                       8.08
64 2022-10-28                       8.14
65 2022-04-11                       8.28
66 2022-11-11                       8.33
67 2022-11-18                       8.40
68 2022-11-25                       8.44
69 2022-02-12                       8.49
70 2022-09-12                       8.51
71 2022-12-16                       8.52
72 2022-12-23                       8.53
73 2022-12-29                       8.58

In [12]:
filtered_df=df[['Grandes Lagos Valor R$/KG']]
filtered_df

    Grandes Lagos Valor R$/KG
22                       7.36
23                       7.36
24                       7.34
25                       7.31
26                       7.28
27                       7.27
28                       7.23
29                       7.23
30                       7.23
31                       7.26
32                       7.34
33                       7.41
34                       7.61
35                       7.73
36                       7.81
37                       7.94
38                       7.96
39                       7.98
40                       7.93
41                       7.88
42                       7.84
43                       7.80
44                       7.75
45                       7.74
46                       7.73
47                       7.70
48                       7.69
49                       7.66
50                       7.64
51                       7.65
52                       7.69
53                       7.72
54                       7.74
55                       7.76
56                       7.79
57                       7.82
58                       7.83
59                       7.87
60                       7.95
61                       8.00
62                       8.05
63                       8.08
64                       8.14
65                       8.28
66                       8.33
67                       8.40
68                       8.44
69                       8.49
70                       8.51
71                       8.52
72                       8.53
73                       8.58

In [ ]:
# Save the filtered data to a new Excel file
#filtered_df.to_excel('filtered_data_2022.xlsx', index=False)